<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] == nil %>
    <%= button_to 'Войти', login_path, method: :get %>
    <% else %>
    <%= button_to 'Выйти', logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
